[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=fastapi
Group=fastapi
WorkingDirectory=/home/fastapi/fastapi/src
Environment="PATH=/home/fastapi/fastapi/venvapi/bin"
EnvironmentFile=/home/fastapi/fastapi/.env
ExecStart=/home/fastapi/fastapi/venvapi/bin/gunicorn -w 3 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
